.sep-group {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

#modal {
  position: fixed;
  top: 5%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#modal-content {
  width: 85%;
  background-color: rgb(110, 167, 212);
  opacity: 1;
  border-radius: 23px 23px 23px 23px;
  box-shadow: 5px 5px black;
  border-style: solid;
  border-width: 5px;
  border-color: aquamarine;
}

.modal-header {
  position: relative;
  text-align: center;
}

.modal-body {
  text-align: center;
}

.description-title {
  font-size: large;
  text-decoration: underline;
}
.modal-footer {
  margin: 15px 15px;
  border-color: rgb(115, 211, 144);
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 5px 5px rgb(13, 150, 160);
  text-align: center;
}

.modal-close-button {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 10, 10, 0.795);
  border-style: none;
  border-radius: 25px 25px 25px 25px;
  width: 20%;
}

.modal-close-button:hover {
  cursor: pointer;
  animation-name: close_animation;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes close_animation {
  to {
    background: rgb(228, 159, 12);
  }
}
